.login-con-banner {
            position: absolute;
            height: 320px;
            margin-top: 20px;
            text-align: left;
            box-shadow: 0px 0px 10px #333; }
        .login-con-banner .auto-content {
            position: relative;
            width: 500px;
            height: 320px;
            overflow: hidden; }
        .login-con-banner .auto-content .auto-mover {
            transition: left 0.9s;
            position: absolute;
            left: 0;
            white-space: nowrap;
            font-size: 0; }
        .login-con-banner .auto-content .auto-mover .auto-img {
            float: left;
            width: 500px;
            height: 320px;
            display: inline-block; }
        .roll-box{
            position: relative;
            top: -26px;
            text-align: center;}
        .roll{
            margin: 6px;
            padding: 6px;
            border-radius: 6px;
            display: inline-block;
            background-color: darkgrey;
            cursor: pointer;font-size: 0;}
        .roll-ative{
            background-color: greenyellow;}
        .triangle-box{
            position: relative;
            top: -200px;
            text-align: center;}
        .triangle-left{
            cursor: pointer;
            margin-left: 16px;
            height: 31px;
            transform: rotate(45deg);
            float: left;}
        .triangle-left z{
            display: inline-block;
            width: 25px;
            height: 6px;
            background-color: #333;}
        .triangle-left l{
            display: inline-block;
            width: 6px;
            height: 31px;
            background-color: #333;}
        .triangle-right{
            cursor: pointer;
            margin-right: 16px;
            height: 31px;
            transform: rotate(-135deg);
            float: right;}
        .triangle-right z{
            display: inline-block;
            width: 25px;
            height: 6px;
            background-color: #333;}
        .triangle-right l{
            display: inline-block;
            width: 6px;
            height: 31px;
            background-color: #333;}
        .triangle-box .mask{
            width: 37px;
            height: 51px;
            background-color: rgba(255,255,255,0.3);
            position: absolute;
            z-index: -1;}
        .triangle-box .mask-left{
            top: -10px;
            left: 5px;}
        .triangle-box .mask-right{
            top: -10px;
            right: 5px;}
